 
 .banner{
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/d23a1608-7d90-4da1-93d6-bae2fe60a69b/IN-en-20230814-popsignuptwoweeks-perspective_alpha_website_small.jpg");
     /* background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/d23a1608-7d90-4da1-93d6-bae2fe60a69b/IN-en-20230814-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w"); */
    background-size: cover;
    height: 400px;
    color: white ;
   
}

.content{
    padding-top: 140px;
    height:190px;
    padding-left:15px ;
}


.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom:0.3 rem ;
}

.button{
    color: white;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom:0.5 rem;
    background-color: rgba(51,51,51,.5);
    cursor: pointer;
    margin-right: 1rem;

}

.button:hover{
    color: black;
    background-color: whitesmoke;
}

.description{
    width: 45rem;
    line-height:1.3 ;
    padding-top: 1rem;
    font-size: 0.9rem;
    height: 80px;
    max-width: 360px; 



}

.fade_bottom{
    height: 7.4 rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61), #111 );

}